@font-face {
    font-family: 'FranklinGothic';
    src: local("TCFranklinGothicStd-BkCd"),
    url('assets/franklin-gothic/ITCFranklinGothicStd-BkCd.ttf') format('truetype');

}
@font-face {
    font-family: 'ITCFranklinGothicStd-Demi';
    src: local("ITCFranklinGothicStd-Demi"),
    url('assets/franklin-gothic/ITCFranklinGothicStd-Demi.ttf') format('truetype');

}

html{
    font-family: "FranklinGothic";
}
h1 h2 {
    font-family: 'ITCFranklinGothicStd-Demi';
}

.btn-product {
    padding: 0.5rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: solid black 1px;
    color:  #1f2937;
}

.hero-div-offer {
    background-color: #d9d9d9;
    background-image: url("public/images/grey_gradient_bg.jpg");
    background-size: cover;
}

/*.btn-product:hover {*/
/*    background-color: #2d7ad7;*/
/*    color: black;*/
/*}*/

