@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-Demi.eot');
    src: local('ITC Franklin Gothic Std Demi'), local('ITCFranklinGothicStd-Demi'),
        url('ITCFranklinGothicStd-Demi.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-Demi.woff2') format('woff2'),
        url('ITCFranklinGothicStd-Demi.woff') format('woff'),
        url('ITCFranklinGothicStd-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-BkCd.eot');
    src: local('ITC Franklin Gothic Std Book Condensed'), local('ITCFranklinGothicStd-BkCd'),
        url('ITCFranklinGothicStd-BkCd.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-BkCd.woff2') format('woff2'),
        url('ITCFranklinGothicStd-BkCd.woff') format('woff'),
        url('ITCFranklinGothicStd-BkCd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-BkCpIt.eot');
    src: local('ITC Franklin Gothic Std Book Compressed Italic'), local('ITCFranklinGothicStd-BkCpIt'),
        url('ITCFranklinGothicStd-BkCpIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-BkCpIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-BkCpIt.woff') format('woff'),
        url('ITCFranklinGothicStd-BkCpIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-DmCdIt.eot');
    src: local('ITC Franklin Gothic Std Demi Condensed Italic'), local('ITCFranklinGothicStd-DmCdIt'),
        url('ITCFranklinGothicStd-DmCdIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-DmCdIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-DmCdIt.woff') format('woff'),
        url('ITCFranklinGothicStd-DmCdIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-BookIt.eot');
    src: local('ITC Franklin Gothic Std Book Italic'), local('ITCFranklinGothicStd-BookIt'),
        url('ITCFranklinGothicStd-BookIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-BookIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-BookIt.woff') format('woff'),
        url('ITCFranklinGothicStd-BookIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-DmCp.eot');
    src: local('ITC Franklin Gothic Std Demi Compressed'), local('ITCFranklinGothicStd-DmCp'),
        url('ITCFranklinGothicStd-DmCp.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-DmCp.woff2') format('woff2'),
        url('ITCFranklinGothicStd-DmCp.woff') format('woff'),
        url('ITCFranklinGothicStd-DmCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-DmCd.eot');
    src: local('ITC Franklin Gothic Std Demi Condensed'), local('ITCFranklinGothicStd-DmCd'),
        url('ITCFranklinGothicStd-DmCd.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-DmCd.woff2') format('woff2'),
        url('ITCFranklinGothicStd-DmCd.woff') format('woff'),
        url('ITCFranklinGothicStd-DmCd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-Book.eot');
    src: local('ITC Franklin Gothic Std Book'), local('ITCFranklinGothicStd-Book'),
        url('ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-Book.woff2') format('woff2'),
        url('ITCFranklinGothicStd-Book.woff') format('woff'),
        url('ITCFranklinGothicStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-DemiIt.eot');
    src: local('ITC Franklin Gothic Std Demi Italic'), local('ITCFranklinGothicStd-DemiIt'),
        url('ITCFranklinGothicStd-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-DemiIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-DemiIt.woff') format('woff'),
        url('ITCFranklinGothicStd-DemiIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-BkCdIt.eot');
    src: local('ITC Franklin Gothic Std Book Condensed Italic'), local('ITCFranklinGothicStd-BkCdIt'),
        url('ITCFranklinGothicStd-BkCdIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-BkCdIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-BkCdIt.woff') format('woff'),
        url('ITCFranklinGothicStd-BkCdIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-BkCp.eot');
    src: local('ITC Franklin Gothic Std Book Compressed'), local('ITCFranklinGothicStd-BkCp'),
        url('ITCFranklinGothicStd-BkCp.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-BkCp.woff2') format('woff2'),
        url('ITCFranklinGothicStd-BkCp.woff') format('woff'),
        url('ITCFranklinGothicStd-BkCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-BkXCp.eot');
    src: local('ITC Franklin Gothic Std Book Extra Compressed'), local('ITCFranklinGothicStd-BkXCp'),
        url('ITCFranklinGothicStd-BkXCp.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-BkXCp.woff2') format('woff2'),
        url('ITCFranklinGothicStd-BkXCp.woff') format('woff'),
        url('ITCFranklinGothicStd-BkXCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-Med.eot');
    src: local('ITC Franklin Gothic Std Medium'), local('ITCFranklinGothicStd-Med'),
        url('ITCFranklinGothicStd-Med.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-Med.woff2') format('woff2'),
        url('ITCFranklinGothicStd-Med.woff') format('woff'),
        url('ITCFranklinGothicStd-Med.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-Hvy.eot');
    src: local('ITC Franklin Gothic Std Heavy'), local('ITCFranklinGothicStd-Hvy'),
        url('ITCFranklinGothicStd-Hvy.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-Hvy.woff2') format('woff2'),
        url('ITCFranklinGothicStd-Hvy.woff') format('woff'),
        url('ITCFranklinGothicStd-Hvy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-DmXCp.eot');
    src: local('ITC Franklin Gothic Std Demi Extra Compressed'), local('ITCFranklinGothicStd-DmXCp'),
        url('ITCFranklinGothicStd-DmXCp.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-DmXCp.woff2') format('woff2'),
        url('ITCFranklinGothicStd-DmXCp.woff') format('woff'),
        url('ITCFranklinGothicStd-DmXCp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-DmCpIt.eot');
    src: local('ITC Franklin Gothic Std Demi Compressed Italic'), local('ITCFranklinGothicStd-DmCpIt'),
        url('ITCFranklinGothicStd-DmCpIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-DmCpIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-DmCpIt.woff') format('woff'),
        url('ITCFranklinGothicStd-DmCpIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-MedIt.eot');
    src: local('ITC Franklin Gothic Std Medium Italic'), local('ITCFranklinGothicStd-MedIt'),
        url('ITCFranklinGothicStd-MedIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-MedIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-MedIt.woff') format('woff'),
        url('ITCFranklinGothicStd-MedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-HvyIt.eot');
    src: local('ITC Franklin Gothic Std Heavy Italic'), local('ITCFranklinGothicStd-HvyIt'),
        url('ITCFranklinGothicStd-HvyIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-HvyIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-HvyIt.woff') format('woff'),
        url('ITCFranklinGothicStd-HvyIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-MdCdIt.eot');
    src: local('ITC Franklin Gothic Std Medium Condensed Italic'), local('ITCFranklinGothicStd-MdCdIt'),
        url('ITCFranklinGothicStd-MdCdIt.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-MdCdIt.woff2') format('woff2'),
        url('ITCFranklinGothicStd-MdCdIt.woff') format('woff'),
        url('ITCFranklinGothicStd-MdCdIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('ITCFranklinGothicStd-MdCd.eot');
    src: local('ITC Franklin Gothic Std Medium Condensed'), local('ITCFranklinGothicStd-MdCd'),
        url('ITCFranklinGothicStd-MdCd.eot?#iefix') format('embedded-opentype'),
        url('ITCFranklinGothicStd-MdCd.woff2') format('woff2'),
        url('ITCFranklinGothicStd-MdCd.woff') format('woff'),
        url('ITCFranklinGothicStd-MdCd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

